<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="card.css">
    </head>
    <body>
        <main>
            <h2>教材一覧</h2>

            <div class="cards">

                <div class="card">
                    <h3>HTML入門</h3>
                    <p>プログラミング初心者向けのテキストです</p>
                    <a href="#">詳細</a>
                </div>

                <div class="card">
                    <h3>CSS入門</h3>
                    <p>プログラミング初心者向けのテキストです</p>
                    <a href="#">詳細</a>
                </div>

                <div class="card">
                    <h3>Ruby入門</h3>
                    <p>プログラミング初心者向けのテキストです</p>
                    <a href="#">詳細</a>
                </div>

                <div class="card">
                    <h3>PHP入門</h3>
                    <p>プログラミング初心者向けのテキストです</p>
                    <a href="#">詳細</a>
                </div>

                <div class="card">
                    <h3>Python入門</h3>
                    <p>プログラミング初心者向けのテキストです</p>
                    <a href="#">詳細</a>
                </div>

                <div class="card">
                    <h3>Java Script入門</h3>
                    <p>プログラミング初心者向けのテキストです</p>
                    <a href="#">詳細</a>
                </div>
            </div>
        </main>
    </body>
</html>