<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="form.css">
    </head>
    <body>
        <main>
            <h2>商品追加</h2>

            <form action="#" method="POST">
                <div class="form-group">
                    <label>商品名</label>
                    <input type="text" name="name">
                </div>

                <div class="form-group">
                    <label>バーコード番号</label>
                    <input type="number" name="barcode">
                </div>

                <div class="form-group">
                    <label>価格</label>
                    <input type="number" name="price">
                </div>

                <div class="form-group">
                    <label>公開</label>
                    <input type="number" name="amount">
                </div>

                <div class="form-group btn">
                    <input type="submit" value="登録">
                </div>
            </form>
        </main>
    </body>
</html>