<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="list.css">
    </head>
    <body>
        <main>
            <h2>顧客リスト</h2>
            <ul>
                <li>
                    <span class="name">田中太郎</span>
                    <span class="email">sample@example.com</span>
                    <span class="buttons">
                        <a href="#" class="detail">詳細</a>
                        <a href="#" class="edit">編集</a>
                        <a href="#" class="delete">削除</a>
                        <a href="#" class="registration">登録</a>
                    </span>
                </li>
                <li>
                    <span class="name">斎藤次郎</span>
                    <span class="email">example.sample@example.com</span>
                    <span class="buttons">
                        <a href="#" class="detail">詳細</a>
                        <a href="#" class="edit">編集</a>
                        <a href="#" class="delete">削除</a>
                        <a href="#" class="registration">登録</a>
                    </span>
                </li>
            </ul>
        </main>
    </body>
</html>