.message{
    /* absoluteの基準になるという宣言のようなもの */
    position: relative;
    background-color: gray;
    padding: 10px 20px;
    margin-top: 100px;
    display: inline-block;
    border-radius: 10px;
    color: white;
}

.count{
    /* messageに対して相対的な位置に表示 */
    position: absolute;
    top: -13px;
    right: -9px;
    background-color: red;
    color: white;
    padding: 6px;
    font-size: 13px;
    border-radius: 50%;
}