h2{
    background-color: lightseagreen;
    color: white;
    padding: 7px;
}

/* h2{
    border-bottom: solid 3px lightseagreen;
    border-left: solid 10px lightseagreen;
    color:chocolate;
    padding: 7px;
} */
